[submodule "OCanren"]
	path = OCanren
	url = https://github.com/Kakadu/OCanren.git
	branch = is_free
	shallow = true
[submodule "GT"]
	path = GT
	url = https://github.com/PLTools/GT.git
	shallow = true

